#conteudo{
    width: 800px;
    height: 1000px;
    background-color:rgb(201, 109, 23);
    margin: 0 auto;
}
#cabecalho{
    width: 800px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
#fotodeperfil{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 5px;
}
#perfil{
    border-radius: 50%;
    width: 175px;
    height: 175px;
}
#textodeperfil{
    width:500px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    box-sizing: border-box;
}
#span-seguindo{
    font-weight: bold;
    margin-left: 50px;
}
.juntinho{
    margin: 0;
}
#essenao{
    margin: 15px 0;
}
#pill{
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(234, 216, 216);

    img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    }
}
a{
    text-decoration: none;
}
#icone-link{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 12px;
    background-image: url("icone-link.png");
}
#destaques{
    width: 800px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;   
}
#destaques figure{
    margin: 6px 10px;
    text-align: center;
    font-weight: bold;
    
}
.fotodestaque{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 20px;
    object-fit: cover;
}
#feed{
    width: 800px;
    height: 1000px;
    background-color: rgb(147, 125, 125);
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.fotofeed{
    background-color: brown;
    aspect-ratio: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}
#feed > img{
    display: grid;
    grid-template-columns: 3, 1fr;
    gap: 2px;
    width: 266px;
    height: 332px;
}

