body{
  background-color: black;
}
#pagina{
  width: 1000px;
  height: 1500px;
  margin: 0 auto;
  background-color: rgba(199, 141, 76, 0.644);
}
#cabecalho{
  width: 1000px;
  height: 200px;
  display: flex;
  background-color: aqua;
}
#ftperfil{
  width: 200px;
  height: 200px;
  display: flex;
  margin: 20px 10px;
}
.perfil{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
#conteudo{
  display: flex;
  width: 1000px;
  height: 1200px;
  background-color: crimson;
}
