#conteudo{
    width: 800px;
    height: 1300px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecalho{
    width: 800px;
    height: 300px;
    display: flex;
}
h3{
  font-family: "Miltonian Tattoo", serif;
  font-weight: 400;
  font-style: normal;
}

#fotodeperfil{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 5px;
}
#perfil{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    object-fit: cover;
}
#textodeperfil{
    width:500px;
    height: 300px;
    padding: 20px 50px;
    box-sizing: border-box;
}
#span-seguindo{
    font-weight: bold;
    margin-left: 50px;
}
.juntinho{
    margin: 0;
}
#essenao{
    margin: 15px 0;
}
#pill{
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(234, 216, 216);

    img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    }
}
a{
    text-decoration: none;
}
#icone-link{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 12px;
    background-image: url("icone-link.png");
}
#destaques{
    width: 800px;
    height: 100px;
    display: flex;   
    overflow-x:scroll;
    overflow-y: hidden;
}
#destaques figure{
    margin: 6px 10px;
    text-align: center;
    font-weight: bold;
    
}
.fotodestaque{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    object-fit: cover;
}
#feed{
    width: 800px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.fotofeed{
    aspect-ratio: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}
#feed > img{
    gap: 2px;
    width: 266px;
    height: 332px;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.6s ease;
}
#feed > img:hover{
    z-index: 10;
    transform: scale(1.2);
}

